.search-text {
  border-radius: 10px;
  margin: 30px auto;
  width: 65%;
  background-color: #dadada;
  padding: 20px 30px;
  color: #384b70;
  border: #51dacf;
}

.search-button {
  color: white;
  background-color: #8bd7d1;
  border-radius: 10px;
  margin: 30px auto;
  padding: 20px 30px;
  border-color: aqua;
}

.search-button:hover {
  background-color: #51dacf;
}

.container {
  background-color: #f5f5f5;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(70, 142, 152, 0.08);
  border-radius: 16px;
  padding: 20px;
}

main {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
}

body {
  font-family: "Inria Sans", sans-serif;
  font-weight: 400;
  color: #384b70;
  background: #cefff1;
}

footer {
  text-align: center;
  color: #384b70;
  margin-top: 20px;
  background-color: #f5f5f5;
}

.temperature {
  font-size: 100px;
  margin-top: -50px;
  text-align: right;
}

.celsius {
  font-size: 40px;
  text-align: right;
  margin-top: -80px;
}

.daytime,
.umoya {
  margin: 20px 0;
}

.weather-emoji {
  text-align: right;
}

.city {
  margin-bottom: 20px;
}

.hum-perc {
  color: #51dacf;
  margin-left: 10px;
}

.wind-speed {
  color: #51dacf;
  margin-left: 10px;
}

.day {
  margin-right: 10px;
}

.time {
  margin-right: 10px;
}

.weather-forecast {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 20px;
}

.weather-today,
.max-temp,
.min-temp,
.weather-icon {
  margin: 0;
}

.weather-icon {
  font-size: 88px;
}
